* {
	padding: 0;
	margin: 0;
}
body {
	text-align: center;
	background: url("../images/coverimage.jpg");
	background-size: 1900px;
	background-repeat: no-repeat;
	color: #000;
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	padding-top: 150px;
}
p   {
	font-size: 50;
	line-height: 32px;
}
hr	{
	width: 200px;
}
a   {
	color: #666;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
}	
h1	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	font-color: #000;
}
h2	{
	font-family: "proxima-nova", sans-serif;
	font-size: 30px;
	font-color: #000;
	font-weight: 700;
	line-height: 34px;
	padding-bottom: 10px;
}
h3	{
	font-family: "proxima-nova", sans-serif;
	font-size: 28px;
	font-weight: 100;
	line-height: 30px;
}
h4	{
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 900;
}
h5	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	font-color: #154678;
}
h6	{
	font-family: "proxima-nova", sans-serif;
	font-size: 30px;
	font-color: #000;
	font-weight: 700;
	line-height: 50px;
	padding-top: 20px;
}
.important {
	color: #fff;
}
#large {
	font-size: 30px;
}

