* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	text-align: center;
	color: #000;
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;  /*1em = 18px*/
}
section {
	padding:1em 0;
}
section#splash {
	background: url("../images/coverimage.jpg");
	background-repeat: no-repeat;
	background-cover;
	background-position: right;
	padding: 9em 0;
}
section#topnav {
	background: #58aba5;
	letter-spacing: .25em;
}
p   {
	line-height: 32px;
}
hr	{
	width: 200px;
}
a   {
	color: #666;
	text-decoration: none;
	padding-right: 20px;
	padding-left: 20px;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
}	
h1	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	font-color: #000;
}
h2	{
	font-family: "proxima-nova", sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 30px;
	padding-top: 10px;
}
h3	{
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 900;
}
blockquote	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	width: 40em;
	margin: 1em auto;
}
.important {
	color: #fff;
}
.small {
	font-size: 12px;
	color: #ccc;
}
#large {
	font-size: 30px;
}
#services {
	padding: 20px;
}
#quote {
	background: #37404f;
}
#nav {
	background: #333;
}

