* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	text-align: center;
	color: #222;
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;  /*1em = 18px*/
}
section {
	padding: 2em 0;
}
section#splash {
	background: url("../images/coverimage.jpg");
	background-repeat: no-repeat;
	background-image;
	background-position: right;
	padding: 9em 0;
	background-size: cover;
}
section#motto {
	font-size: 1.25em;
	font-weight: 800;
	padding: 2em 0 0;
}
section#services {
	width: 80%;
	margin: auto;
}
section#quote {
	width: 100%;
	background: #37404f;
}
section#contact {
	width: 85%;
	margin: auto;
	padding: 0 0 2em;
}
nav {
	background: #58aba5;
	letter-spacing: .25em;
	padding: .5em 0;
}
footer {
	background: #777;
	clear: both;
	padding-bottom: 5em;
}
p   {
	line-height: 2em;
}
a   {
	color: #666;
	text-decoration: none;
	padding: 1em 1.5em 0;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
}
a:hover {
	color: #fff;
}
h1	{
	font-family: "Georgia Book", serif;
	font-size: 1.11em;
	font-style: italic;
	padding-top: .75em;
	font-color: #000;
}
h2	{
	font-family: "proxima-nova", sans-serif;
	font-size: 1.33em;
	font-weight: 100;
	line-height: 1.66em;
}
h3	{
	font-family: "proxima-nova", sans-serif;
	font-size: 1em;
	padding-bottom: .55em;
	padding-top: .55em;
	font-weight: 900;
}
blockquote	{
	font-family: "Georgia Book", serif;
	font-size: 1.11em;
	font-style: italic;
	width: 80%;
	margin: 1em auto;
}
.important {
	color: #fff;
}
.small {
	font-size: 12px;
	color: #ccc;
}
#wrapper {
	width: 85%;
	margin: auto;
}
#motto {
	margin: .5em auto 0;
}
#print {
	width: 31.3%;
	float: left;
	padding: 0 1em 2em;
}
#web {
	width: 31.3%;
	float: left;
	padding: 0 1em 2em;
}
#uxui {
	width: 31.3%;
	float: left;
	padding: 0 1em 2em;
}
.contactform {
	width: 35%;
	float: left;
	margin: auto;
}
.socialicons {
	width: 65%;
	float: left;
	margin: auto;
	padding: 0 0 2em;
	display: block;
}
#quote {
	clear: both;
	margin: 2em auto;
	width: 65%;
}
#large {
	font-size: 1.66em;
}
	#mobile {
		display: none;
	}
@media  screen and (min-width: 1200px) {
	body {
	font-size: 24px;
	}
	#wrapper {
		width: 1600px;
	}
}
@media  screen and (max-width: 1000px) {
	section#contact {
		float: none;
		padding: 0;
	}
	section#socialicons {
		float: none;
		padding: 0;
	}
}
@media  screen and (max-width: 740px) {
	nav a {
		float: none;
		width: 100%;
		padding: .5em;
		font-size: 18px;
		display: none;
	}
	#mobile {
		display: block;
		padding: .5em 1em;
	}
	nav:hover a {
		display: block;
	}
	#print {
		width: 100%;
		float:none;
		display: block;
		padding: 0 0 2em;
	}
	#web {
		width: 100%;
		float:none;
		display: block;
		padding: 0 0 2em;
	}
	#uxui {
		width: 100%;
		float:none;
		display: block;
		padding: 0;
	}
	.socialicons {
		float: none;
		display: block;
		padding: auto;
		width: 100%;
	}
	.contactform {
		float: none;
		padding: 0 0 2em;
	}
	section#contact {
		float: none;
	}
	footer a {
		float: none;
		width: 100%;
		padding: .5em;
		font-size: 18px;
		display: block;
	}

}

