* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	text-align: center;
	color: #222;
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;  /*1em = 18px*/
}
section {
	padding: 2em 0;
}
section#splash {
	background: url("../images/coverimage.jpg");
	background-repeat: no-repeat;
	background-cover;
	background-position: right;
	padding: 9em 0;
	background-size: cover;
}
section#motto {
	font-size: 1.25em;
	font-weight: 800;
	padding: 2em 0 0;
}
section#services {
	/* float: left; */
	padding: 1em 0;
	/* display: inline-block; */
	width: 60em;
	margin: auto;
}
nav {
	background: #58aba5;
	letter-spacing: .25em;
	padding: .5em 0;
}
footer {
	background: #777;
	clear: both;
	padding-bottom: 90px;
}
p   {
	line-height: 32px;
}
hr	{
	width: 200px;
}
a   {
	color: #666;
	text-decoration: none;
	padding: 1.5em 1.5em 0;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
}
a:hover {
	color: #fff;
}
h1	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	font-color: #000;
}
h2	{
	font-family: "proxima-nova", sans-serif;
	font-size: 24px;
	font-weight: 100;
	line-height: 30px;
}
h3	{
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 900;
}
blockquote	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	width: 30em;
	margin: 1em auto;
}
ul {
	list-style-type: none;
	text-align: left;
	border: 1px #777 solid;
	padding: 1em;
	margin: 1em 0;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.important {
	color: #fff;
}
.small {
	font-size: 12px;
	color: #ccc;
}
#motto {
	margin: .5em auto 0;
}
#print {
	padding: 3%;
	margin: 1%;
	width: 31.3%;
	min-width: 300px;
	float: left;
}
#web {
	padding: 3%;
	margin: 1%;
	width: 31.3%;
	min-width: 300px;
	float: left;
}
#uxui {
	padding: 3%;
	margin: 1%;
	width: 31.3%;
	min-width: 300px;
	float: left;
}
.contactform {
	padding: .5em 1em;
	width: 520px;
	min-width: 320px;
	float: left;
}
.socialicons {
	padding: .5em 1em;
	margin: auto;
	width: 520px;
	min-width: 320px;
	float: left;
}
#quote {
	background: #37404f;
	clear: both;
}
#large {
	font-size: 30px;
}
#services {
	width: 100%;
}


