* {
	padding: 0;
	margin: 0;
}
a {
	color: #fff;
	text-decoration: none;
}	
nav a {
	color: #999;
	margin-right: 10px;
	font-family: "proxima-nova", sans-serif;
	font-weight: 700;
	margin-right: 20px;
	text-align: right;
}
h1	{
	font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	text-align: center;
	font-color: #fff;
}
h2	{
	font-family: "proxima-nova", sans-serif;
	font-size: 30px;
	font-color: #000;
	font-weight: 700;
	line-height: 0px;
	text-align: center;
}
h3	{
	font-family: "proxima-nova", sans-serif;
	font-size: 28px;
	font-weight: 100;
	line-height: 30px;
}
h4	{
	font-family: "proxima-nova", sans-serif;
	font-size: 18px;
	padding-bottom: 10px;
	padding-top: 10px;
	font-weight: 900;
	text-align: center;
}
h5	{
	font-family: "proxima-nova", sans-serif;
	font-size: 30px;
	font-weight: 100;
	font-color: #fff;
	text-align: left;
	padding-left: 20;
	padding-top: 20;
	padding-bottom: 20;
}
h6	{
	font-family: "proxima-nova", sans-serif;
	font-size: 30px;
	font-color: #fff;
	font-weight: 700;
	line-height: 50px;
	text-align: center;
	padding-top: 20px;
}
b1	{
	font-family: "proxima-nova", sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 14px;
	font-color: #222;
}
.bodyContent {
	padding-left: 20px;
}
.morePadding {
	padding-left:30px;
}
.mainBlock {
	height: 550px;
	padding-top: 20px;
	font-color: #fff;
}
.subBlock {
	height: 250px;
	text-align: left;
}
.quoteBlock {
	text-align: center;
	background-color: #606f83;
	padding-bottom: 10px;
	font-color: #fff;
}
.firstSection div:nth-child(1) {
	background-color: #7acdc8;
	font-color: #fff;
}
.firstSection div:nth-child(2) {
}
.firstSection div:nth-child(3) {
	background-color: #fff;
	height: 400px;
}
.firstSection div:nth-child(4) {
	background-color: #D2C85C;
}
.secondSection div:nth-child(4) {
	background-color: #fff;
}

#logoblock {
	text-align: center;
	font-color: #fff;
}
#quoteblock {
	font-color: #fff;
}
#iconblock {
	text-align: center;
}
#backgroundimage {
	height: auto;
	left: 0;
	margin: 0;
}

