* {
	padding: 0;
	margin: 0;
}
a {
	color: #fff;
	text-decoration: none;
}	
h1	{font-family: "Georgia Book", serif;
	font-size: 20px;
	font-style: italic;
	padding-top: 10px;
	text-align: center;
}
h2	{font-family: "proxima-nova", sans-serif;;
	font-size: 36px;
	font-color: #fff;
	font-weight: 700;
}
h3	{font-family: "proxima-nova", sans-serif;;
	font-size: 28px;
	font-weight: 100;
}
h4	{font-family: "proxima-nova", sans-serif;;
	font-size: 24px;
	font-style: bold;
	padding-bottom: 10px;
	font-weight: 900;
}

.bodyContent {
	padding-left:50px;
}
.morePadding {
	padding-left:30px;
}
.mainBlock {
	height:400px;
}
.subBlock {
	height:150px;
}
.firstSection div:nth-child(1) {
	background-color: #345678;
}
.firstSection div:nth-child(2) {
	background-color: #cdcdcd;
}
.firstSection div:nth-child(3) {
	background-color: #ababab;
}
